<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/3rd-party/bootstrap-3.4.0.min.css">
  <link rel=stylesheet href="/css/main.css">

</head>
<body>

    <div id="header"></div>

    <h1>УЛК 403 ауд. 2019.05.10 ТИВ</h1>
    <table class = "table table-bordered">
        
        <thead>
        <thead class="thead">
           <tr>
            <th scope="col">#</th>
            <th scope="col">ФИО студента</th>
            <th scope="col">№ группы</th>
            <th scope="col">Присутствие</th>
           </tr>
        </div>
        </thead>
        
        <tbody>
           <tr>
              <td scope="row">1</td>
              <td><a href="attendance_one.html">Калинин Филипп Анатолиевич</a></td>
              <td><a href="123-4.html">123-4</a></td>
              <td>Есть</td>
           </tr>

           <tr>
               <td scope="row">2</td>
               <td><a href="#">Шилов Павел Дмитриевич</a></td>
               <td><a href="123-4.html">123-4</a></td>
               <td>Нет</td>
            </tr>
        </tbody>
         
     </table>

    <script src="/3rd-party/jquery-3.4.0.min.js"></script>
    <script src="/3rd-party/popper-1.14.7.min.js"></script>
    <script src="/3rd-party/bootstrap-3.4.0.min.js"></script>
    <script src="/js/include-head.js"></script>
  </body>
</html>