<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/3rd-party/bootstrap-4.3.1.min.css">
  <link rel=stylesheet href="/static/css/main.css">
</head>
<body>
    <div id="header"></div>
    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups" style="margin: 2em;">
      <div class="h2">
        Форма редактирования
      </div>

    <button type="button" class="btn btn-secondary btn-lg">Добавить группу</button>


    <script src="/static/3rd-party/jquery-3.4.0.min.js"></script>
    <script src="/static/3rd-party/popper-1.14.7.min.js"></script>
    <script src="/static/3rd-party/bootstrap-4.3.1.min.js"></script>
    <script src="/static/js/include-head.js"></script>

  </body>
</html>