<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/3rd-party/bootstrap-3.4.0.min.css">
    <link rel=stylesheet href="/static/css/main.css">
</head>

<body>
    <div id="header"></div>
    {% for course in courses %}    
    <div class = "panel panel-default">
            <div class = "panel-heading">
                {{course}}
            </div>
        
            <div class = "panel-body">
            {% for group, url in groups.items %}
                <a class="group-number" href={{url}}>{{group}}</a>
            {% endfor %}
            </div>
    </div>
    {% endfor %}


    <script src="/static/3rd-party/jquery-3.4.0.min.js"></script>
    <script src="/static/3rd-party/popper-1.14.7.min.js"></script>
    <script src="/static/3rd-party/bootstrap-3.4.0.min.js"></script>
    <script src="/static/js/include-head.js"></script>
</body>
</html>
