
  <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="index.html">В начало</a>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Факультет<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">РТФ</a></li>
                  <li><a href="#">РКФ</a></li>
                  <li><a href="#">ФЭТ</a></li>
                  <li><a href="#">ФСУ</a></li>
                  <li><a href="#">ФВС</a></li>
                  <li><a href="#">ГФ</a></li>
                  <li><a href="#">ЭФ</a></li>
                  <li><a href="#">ФИТ</a></li>
                  <li><a href="#">ЮФ</a></li>
                  <li><a href="faculties/fb">ФБ</a></li>                        
                </ul>
              </li>
      
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Корпус<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="buildings/ulk">УЛК</a></li>
              <li><a href="#">ФЭТ</a></li>
              <li><a href="#">РК</a></li>
              <li><a href="#">ГК</a></li>
              <li><a href="#">МК</a></li>                        
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
      </div>

      <div class="page-header">
            <h1 style="margin-left: 25px">Система мониторинга посещаемости студентов</h1>
          </div>
      </div>