<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/3rd-party/bootstrap-3.4.0.min.css">
  <link rel=stylesheet href="/static/css/main.css">
</head>

<body>
    <div id="header"></div>

    <!-- <div class="card" style="width: 18rem;">/
      <img class="card-img-top" src="/static/images/cover-3-1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div> -->

    <script src="/static/3rd-party/jquery-3.4.0.min.js"></script>
    <script src="/static/3rd-party/popper-1.14.7.min.js"></script>
    <script src="/static/3rd-party/bootstrap-3.4.0.min.js"></script>
    <script src="/static/js/include-head.js"></script>
</body>
</html>
