<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/3rd-party/bootstrap-4.3.1.min.css">
  <link rel=stylesheet href="/static/css/main.css">
</head>
<body>
    <div id="header"></div>
    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups" style="margin: 2em;">
      <div class="h2">
        Расписание преподавателя
      </div>
      <div class="btn-group" role="group" aria-label="First group">
        <a class="btn btn-secondary" href="{{urls.week}}" role="button">За неделю</a>
        <a class="btn btn-secondary" href="{{urls.month}}" role="button">За месяц</a>
        <a class="btn btn-secondary" href="{{urls.year}}" role="button">За год</a>
        <a class="btn btn-secondary" href="#" role="button">За период...</a>
        <input class="form-control form-control-lg" type="date" placeholder="с" style="width: 200px; margin-left: 30px;">
        <input class="form-control form-control-lg" type="date" placeholder="по" style="width: 200px; margin-left: 30px;">
      </div>
    </div>

    <table class = "table table-bordered">
      <thead>
      <thead class="thead-dark">
         <tr>
         <th scope="col">Дата</th>
         <th scope="col">Предмет</th>
         <th scope="col">№ номер кабинета</th>
         <th scope="col">Корпус</th>
         </tr>
        </div>
        </thead>
        
      <tbody>

             {% for l in lessons %}
               <tr>
                  <td scope="row">{{l.date}}</td>
                  <td><a href="{{l.url}}">{{l.name}}</a></td>
                  <td>{{l.aud}}</td>
                  <td>{{l.build}}</td>
              </tr>
          {% endfor %}

      </tbody>
     </table>

    <script src="/static/3rd-party/jquery-3.4.0.min.js"></script>
    <script src="/static/3rd-party/popper-1.14.7.min.js"></script>
    <script src="/static/3rd-party/bootstrap-4.3.1.min.js"></script>
    <script src="/static/js/include-head.js"></script>

  </body>
</html>