<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/3rd-party/bootstrap-4.3.1.min.css">
  <link rel=stylesheet href="/static/css/main.css">

  
</head>
<body>
    <div id="header"></div>
    
    <div class="row align-items-center justify-content-center" style="width: 100%; margin-top: 100px;">
        <a class="btn btn-outline-warning" href="/run_integration" style="padding: 100px; font-size: 20pt">Запуск интеграции с сайтом ТУСУР?</a>
    </div>

    <script src="/static/3rd-party/jquery-3.4.0.min.js"></script>
    <script src="/static/3rd-party/popper-1.14.7.min.js"></script>
    <script src="/static/3rd-party/bootstrap-4.3.1.min.js"></script>
    <script src="/static/js/include-head.js"></script>
</body>
</html>
